<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add Voting</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="vl.closeAddByTan()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="vl.addByTan()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Voting-TAN</span>
                    <input type="text" ng-model="vl.voting">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Add</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
