<ion-view title="Vote">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false">
        <ion-slide-box on-slide-changed="vote.slideHasChanged($index)">
            <ion-slide ng-if="vote.moods" ng-repeat="mood in vote.moods track by $index">
                <div class="box">
                    <div class="list card">

                        <div class="item item-divider">
                            <h2 ng-bind="::mood.label"></h2>
                        </div>

                        <div class="item item-image mood">
                            <img src="/images/{{ ::mood.img }}" alt="{{ mood.label }}" class="mood">
                        </div>
                        <div class="items vote-container">
                            <button class="button button-block button-positive">
                                Vote
                            </button>

                        </div>
                    </div>

                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>

