<ion-view title="Sign up" class="bar-positive">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="cu.user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="cu.user.password">
            </label>
            <label class="item item-input">
                <button class="button button-block button-positive" ng-click="cu.createUser()">
                    Sign Up
                </button>
            </label>
        </div>
    </ion-content>

</ion-view>








