<ion-view title="Sign up">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <form ng-submit="cu.createUser()">
        <div class="list">
            <label class="item item-input">
                <input type="email" ng-model="cu.user.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="cu.user.password" placeholder="Password">
            </label>
            </div>
            <div class="padding-left padding-right">
                <button class="button button-block button-positive">Sign Up</button>
                <span ng-if="cu.error" class="item item-assertive" ng-bind="cu.error"></span>
            </div>
        </form>
    </ion-content>

</ion-view>








